<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            App Videos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
    <ion-searchbar placeholder="Buscar"></ion-searchbar>

    <!-- List of Text Items -->
    <ion-list>
        <ion-item lines="full">
            <ion-thumbnail slot="start">
                <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/kz7xJLowO4x0BpcB1IJb9uIXgrq.jpg">
            </ion-thumbnail>

            <ion-label class="ion-text-wrap">
                <div>
                    <h1>Venom: Tempo de Carnificina (2021)</h1>
                    <p>07/10/2021 (BR) - 1h 37m</p>
                    <p>Ficção científica, Ação</p>
                </div>
            </ion-label>

            <ion-chip color="success" outline>
                <ion-label>70%</ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>
</ion-content>